{
  "extends": "airbnb",
  "env": {
    "browser": "true",
    "node": "true"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": ["error", {"forbid": ["any"]}],
    "jsx-a11y/anchor-is-valid": ["warn"] 
  },
  "parser": "babel-eslint"
}
